.socials{
  margin-top: 20px;
  margin-left: 15%;
  
}

.socialLists{
  display: flex;
  list-style: none;
}

.socialIcon {
  padding: 0.5rem 1rem;
}
.socialIcon i{
  color: #fff;
}

.socialIcon .fa-brands{
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.socialIcon .fa-solid{
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
.socialIcon i:hover{
  color: #fff;
  background-color: #90e0ef;
}