h3{
 color: #fff ;
}

.container-slider {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container-slider {
    margin: 100px 10px 0;
  }

  .btn-slide{
    visibility: hidden;
  }
  .container-dots {
    margin-bottom: 30px;
  }
}
.slide {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide i {
  color: #fff;
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}
.fa-chevron-right{
  color: #fff;
}
.fa-chevron-left{
  color: #fff;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}